scipy
nltk>=3.0.5     # TweetTokenizer introduces in 3.0.5
scikit-learn
numpy>=1.17.2 # po defaultu 1.16.4
setuptools-git
Orange3>=3.4.3
language-check
pyspellchecker
spacy
rdflib
textacy
#pyclausie # + se moji popravki (treba je dat v neko mapo na repotu in povedat nej iz tm instalira)
#neuralcoref # problem, ker je nekompatibilen s starim numpyom in novim spacyem
#flair


# NEURALCOREF GUIDE
# download source from https://github.com/huggingface/neuralcoref
# THEN:
# cd [path_to_neuralcoref]
# pip install -r requirements.txt
# pip install -e .
# pip install spacy # this may or may not be needed; make sure to redownload all spacy vector files in case of reinstalling different version


# conda install pytorch torchvision cpuonly -c pytorch   ## TO JE DELALO!!!
# pip install flair